header {
  width: 100%;
  max-width: 350px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  transition: background-color 0.3s ease-in-out;
}

header .logo {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-background-color);
  align-items: end;
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
}

header p {
  color: var(--text-color);
  font-weight: bolder;
  margin: 0px;
  padding-left: 30px;
}

.card-actions {
  display: flex;
  align-content: space-between;
  gap: 5px;
}

.card-actions button {
  text-transform: uppercase;
}

@media (max-width: 640px) {
  header {
    max-width: 100%;
  }
}
