.card-actions {
  display: flex;
  gap: 5px;
  scale: 0.8;
}

.card-actions button {
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  height: fit-content;
  min-width: 220px;
  max-width: 250px;
  user-select: none;
  box-shadow: var(--border-color) 0.5px 0.5px;
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  font-weight: 600;
  cursor: pointer;
}

.card-svg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.card-actions .btn-autofill {
  background-color: var(--secondary-color);
  text-transform: capitalize;
}

.card textarea {
  max-width: 200px;
  margin-bottom: 20px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fields-container label {
  padding-left: 0.2rem;
}

.fields-container input, textarea {
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--input-color);
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
  background-color: var(--card-background-color);
}

.fields-container input::placeholder, textarea::placeholder {
  color: var(--input-placeholder-color);
}

.btn-add {  
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn-add button {
  padding: 0;
  background-color: inherit;
}

.exp-item-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exp-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}

.exp-item-btn {
  display: flex;
  gap: 2px;
}

.exp-item button {
  padding: 0;
  background-color: inherit;
}

.exp-item-date {
  font-size: 0.5rem;
  color: var(--input-color);;
}

.btn-actions {
  padding-bottom: 14px;
  padding-top: 14px;
  scale: 1;
}

.btn-cancel {
  color: var(--input-color);;
  background-color: inherit;
  border: 1px solid var(--border-color);
}