.preview {
  background-color: #ffffff;
  min-width: 300px;
  /* max-width: 1000px; */
  min-height: 500px;
  border-radius: 5px;
  border-color: #e0e0e0;
  border-width: 1px;
  border-style: groove;
  
}

.preview-info {
  font-size: 0.6rem;
  color: #afb4c5;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.preview-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 550px;
  padding: 10px;
  padding-bottom: 30px;
  overflow: auto;
  padding: 10px;
}

.print-pdf {
  width: 600px;
  padding: 100px;
}

.grid {
  margin: 10px;
  display: grid;
  grid-template: 1fr / 150px 3fr;
  column-gap: 20px;
}

.prev-section {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section-title {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.prev-separator {
  border-bottom: 2px dotted #bbb;
}

.prev-title, .prev-location {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: end;
  color: #369fff;
}

.prev-location {
  text-align: start;
  color: black;
}

.prev-date {
  text-transform: capitalize;
  font-size: 0.6rem;
  text-align: end;
}

.prev-description {
  font-size: 0.6rem;
}

.prev-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: #f0f0f0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.prev-logo-text {
  font-size: 0;
}

.prev-logo-text::first-letter {
  font-size: 30px;
  text-transform: uppercase;
}

.personal-details {
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;
}

.prev-profile {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.prev-name {
  width: 100%;
  max-width: 140px;
  font-style: italic;
  font-size: 0.5rem
}

.prev-name h1 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1px;
  line-height: 35px;
}

.prev-contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 0.5rem;
  text-align: end;
}

.prev-draft {
  font-style: italic;
  opacity: 30%;
}


