.preview {
  background-color: var(--card-background-color);
  min-width: 260px;
  min-height: 500px;
  border-radius: 5px;
  border-color: var(--border-color);
  border-width: 1px;
  border-style: groove;
}

.preview-info {
  font-size: 0.6rem;
  color: var(--input-color);
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.preview-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  gap: 30px;
  max-width: 800px;
}

.print-pdf {
  width: 600px;
  padding: 100px;
  color: black;
  --text-color: black;
}

.print-pdf .prev-title {
  font-size: 16px;
}

.print-pdf .prev-description {
  font-size: 12px;
}

.print-pdf .prev-section {
  font-size: 18px;
}

.print-pdf .prev-location {
  font-size: 16px;
  color: black;
}

.print-pdf .prev-date {
  font-size: 12px;
}

.print-pdf .prev-image {
  width: 100px;
  height: 100px;
}

.print-pdf .prev-name {
  font-size: 12px;
  max-width: 400px;
}

.print-pdf .prev-name h1 {
  font-size: 26px;
  line-height: 46px;
}

.print-pdf .prev-contact {
  font-size: 12px;
}

.print-pdf .prev-image img {
  width: 110px;
  height: 110px;
}

.print-pdf .update-photo {
  display: none;
}

.print-pdf .grid {
  grid-template: 1fr / 150px 3fr;
}

.update-photo input {
  opacity: 0;
  position: absolute;
}

.update-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-background-color);
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0;
  bottom: -5px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.update-photo label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.grid {
  margin: 10px;
  display: grid;
  grid-template: 1fr / minmax(100px, 1fr) 2fr;
  column-gap: 20px;
}

.prev-section {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section-title {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.prev-separator {
  border-bottom: 2px dotted var(--input-color);
}

.prev-title,
.prev-location {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: end;
  color: var(--primary-color);
}

.prev-location {
  text-align: start;
  color: var(--text-color);
}

.prev-date {
  text-transform: capitalize;
  font-size: 0.6rem;
  text-align: end;
}

.prev-description {
  font-size: 0.6rem;
  font-style: italic;
}

.prev-image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid var(--border-color);
}

.prev-image img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.prev-logo-text {
  font-size: 0;
}

.personal-details {
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;
}

.prev-profile {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.prev-name {
  width: 100%;
  max-width: 140px;
  font-style: italic;
  font-size: 0.5rem;
}

.prev-name h1 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1px;
  line-height: 35px;
}

.prev-contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 0.5rem;
  text-align: end;
}

.prev-draft {
  font-style: italic;
  opacity: 30%;
}
