#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  color: #888;
}

.card {
  background-color: rgb(77, 77, 77);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  height: fit-content;
  min-width: 180px;
  user-select: none;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.fields-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fields-container label {
  padding-left: 0.2rem;
}

.fields-container input {
  background-color: #6d6d6d;
  border: 1px solid;
  border-color: #747474;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 0.6rem;
  color: whitesmoke;
}


