#root {
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: rgb(39, 39, 39);
}

.preview {
  background-color: #ffffff;
  min-width: 300px;
  height: 400px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  border-color: #e0e0e0;
  border-width: 1px;
  border-style: groove;
}

.preview-info {
  font-size: 0.7rem;
  color: #afb4c5;
  display: flex;
  justify-content: flex-end;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  height: fit-content;
  min-width: 220px;
  max-width: 250px;
  user-select: none;
  box-shadow: #e0e0e0 0.5px 0.5px;
  border-color: #e0e0e0;
  border-width: 1px;
  border-style: solid;
  color:  #666666;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  color:  black;
  font-weight: 600;
}

.card-svg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.action {
  padding: 10px;
  align-self: flex-end;
}

.action button {
  border: none;
  padding: 5px 14px 5px 14px;
  border-radius: 30px;
  background-color: #369fff;
  color: white; 
}

.action .btn-download {
  padding: 2px 14px 5px 14px;
  background-color: #8336ff;
}

.fields-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fields-container label {
  padding-left: 0.2rem;
}

.fields-container input, textarea {
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 10px;
  font-size: 0.8rem;
  color: #888;
  border-color: #d3d3d3;
  border-width: 1px;
  border-style: solid;
}

.card textarea {
  max-width: 200px;
}

.fields-container input::placeholder, textarea::placeholder {
  color: #afb4c5;
}


