#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  color: #888;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: rgb(77, 77, 77);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  height: fit-content;
  min-width: 180px;
  user-select: none;
}

.card label {
  padding-left: 0.2rem;
}

.card input {
  border-radius: 5px;
  margin-bottom: 5px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}


