:root {
  --primary-color: #0cb6c2;
  --secondary-color: #ff6a50;
  --background-color: #ffffff;
  --text-color: #3f3c3c;
  --border-color: #e0e0e0;
  --action-color: #963fdf;
  --input-color: #888;
  --small-icons-color: #d1d1d1;
  --input-placeholder-color: #b2b5c0;
  --card-background-color: #f8f8f8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* todo: 
add skills? 
responsive design */

[data-theme="dark"] {
  --primary-color: #1aa0aa;
  --secondary-color: #ec6e58;
  --background-color: #333333;
  --text-color: #cbcbcb;
  --small-icons-color: #5f5f5f;
  --border-color: #353535;
  --action-color: #a457c5;
  --input-color: #999;
  --input-placeholder-color: #504c4c;
  --card-background-color: #414141;
}

#root {
  margin: 0 auto;
  background-color: var(--background-color);
  min-height: 100vh;
  transition: background-color 0.3s ease-in-out;
}

body {
  margin: 0;
}
